.container {
    padding: 75px 100px;
}

.top-part {
    display: flex;
    height: 275px;
}

.info {
    margin: 0 0 0 32px;
}

h2 {
    font-size: 48px;
}

img {
    max-height: 100%;
    width: auto;
    border-radius: 10px;
}

p {
    color: gray;
}

.discography {
    margin-top: 15px;
}

.divider {
    margin-left: -100px;
    margin-right: -100px;
}

::ng-deep .mat-tab-header {
    border-bottom: none;
}

.icon {
    margin-right: 5px;
}

.tab-content {
    margin-top: 20px;
}

.d-none {
    display: none;
}
