.container {
    padding: 75px 100px;
}

.top-part {
    display: flex;
    height: 275px;
}

.info {
    margin: 0 0 0 32px;
}

h2 {
    font-size: 48px;
}

img {
    max-height: 100%;
    width: auto;
    border-radius: 10px;
}

p {
    color: gray;
}
