.song {
    width: 100%;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song:hover {
    background-color: rgb(41, 41, 41);
}

a:hover {
    text-decoration: underline;
}

.deacticated {
    pointer-events: none
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.album {
    width: 35%
}

.artists {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cover {
    height: 35px;
    margin-right: 10px;
    border-radius: 3px;
}

.flex {
    display: flex;
    align-items: center;
}

.buttons {
    margin-right: 25px;
}
