<mat-card class="tuning-card" (mouseenter)="mouseOn = true" (mouseleave)="mouseOn = false">
    <div>
        <div>
            <a>{{ tuning.name }}</a>
        </div>

        <div>
            <small>{{ tuning.strings }}</small>
        </div>

        <div>
            <small>{{ tuning.instrument | instrument }}</small>
        </div>

        <div>
            <small>{{ tuning.tabs.length }} total tab<span *ngIf="tuning.tabs.length !== 1">s</span></small>
        </div>
    </div>

    <div [ngClass]="mouseOn ? '' : 'not-visible'">
        <button mat-icon-button color="accent" (click)="editTuning()">
            <mat-icon >edit</mat-icon>
        </button>
          
        <button mat-icon-button color="warn" (click)="deleteTuning()">
            <mat-icon >delete</mat-icon>
        </button>
    </div>
</mat-card>
