<h1 mat-dialog-title>Editing <span class="name">{{ tab.name }}</span></h1>

<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Tab name</mat-label>
            <input matInput formControlName="name" type="text" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link" type="text" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Tuning</mat-label>
            <mat-select formControlName="tuning" [compareWith]="comparer">
                <mat-option *ngFor="let tuning of tunings" [value]="tuning">
                    {{ tuning.name }} <small>({{ tuning.strings }})</small>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Difficulty</mat-label>
            <input matInput formControlName="difficulty" type="number">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="formGroup" cdkFocusInitial>Confirm</button>
</div>
