<div class="container">
    <div class="filters">
        <mat-form-field appearance="outline" class="search">
            <mat-label>Search</mat-label>    
            <input matInput [formControl]="formControl">
        </mat-form-field>

        <mat-checkbox color="primary" (change)="onCheckboxChange($event)">Show all</mat-checkbox>
    </div>

    <mat-grid-list cols="6" rowHeight="5:3" [gutterSize]="'15px'">
        <mat-grid-tile>
            <div class="new-tuning" (click)="addTuning()">
                +
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile *ngFor="let tuning of tunings">
            <app-tuning-card
                [tuning]="tuning"
                class="tuning-card"
                (rerenderAfterEdit)="rerenderTuningsAfterEdit($event)"
                (rerenderAfterDelete)="rerenderTuningsAfterDelete($event)"
                (rerenderAfterAdd)="rerenderTuningsAfterAdd($event)"></app-tuning-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
