<mat-list role="list">
    <mat-list-item role="listitem">
        <a [routerLink]="['/artists']">
            <mat-icon class="icon">person</mat-icon>
            Artists
        </a>
    </mat-list-item>

    <mat-list-item role="listitem">
        <a [routerLink]="['/albums']">
            <mat-icon class="icon">album</mat-icon>
            Albums
        </a>
    </mat-list-item>

    <mat-list-item role="listitem">
        <a [routerLink]="['/songs']">
            <mat-icon class="icon">audiotrack</mat-icon>
            Songs
        </a>
    </mat-list-item>

    <mat-list-item role="listitem">
        <a [routerLink]="['/genres']">
            <mat-icon class="icon">mic_external_on</mat-icon>
            Genres
        </a>
    </mat-list-item>

    <mat-list-item role="listitem">
        <a [routerLink]="['/tunings']">
            <mat-icon class="icon">tune</mat-icon>
            Tunings
        </a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
        <a [routerLink]="['/favourites']">
            <mat-icon class="icon">favorite_border</mat-icon>
            Favourites
        </a>
    </mat-list-item>
</mat-list>
